<style>
  form {
    border: 2px solid gray;
    border-radius: 3px;
    background-color: lightgray;
    padding: 15px;
    max-width: 350px;
    margin: 50px auto 0;
    position: relative;
  }
  form > label,
  button {
    display: block;
    margin-bottom: 10px;
  }
  .login-box {
    width: 50vw;
    height: 50vw;
  }
</style>
<div class="login-box">
  <form>
    <label>
      <input id="username" placeholder="Email Address" type="text"/>
    </label>
    <label>
      <input id="password" placeholder="Password" type="password" />
    </label>
    <button>Login</button>
    <small>Register</small>
  </form>
</div>
